body {
    margin: 0;
    padding: 0;
}

button {
  cursor: pointer;
}

.calkulator {
    width: 350px;
    margin: 30px  auto 1px;
    background-color: #88f1dc;
    border-radius: 30px;
    height: 50px;
    padding-top: 10px;
     padding-bottom: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 5px;
    width: 350px;
    height: 300px;
    margin: auto;
   border-radius: 40px;
}

.text {
   display: block;
   border: 3px solid black;
   height: 40px;
   width: 300px;
   margin: 5px auto;
   border-radius: 15px;
}

.number-btn {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.number-btn:hover{
    background-color: rgb(194, 199, 204);
}

.number-btn:active {
  background-color: rgb(181, 214, 241);
    box-shadow: 0 0 0 rgba(84, 214, 247, 0.5); 
}
